aiofiles==23.2.1
amqp==5.3.1
async-timeout==5.0.1
billiard==4.2.4
blinker==1.7.0
celery==5.3.4
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
dnspython==2.8.0
eventlet==0.33.3
Flask==2.3.3
flower==1.2.0
greenlet==3.2.4
humanize==4.14.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.6.1
MarkupSafe==3.0.3
numpy==1.24.3
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
packaging==25.0
Pillow==10.0.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
python-dateutil==2.9.0.post0
pytz==2025.2
redis==4.6.0
requests==2.31.0
six==1.17.0
tornado==6.5.2
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
Werkzeug==2.3.7
